.resume {
	h1 {
		font-size: 35px;
		font-weight: 300;
		margin: 0 0;
		border-bottom: 2px solid;
		padding-bottom: .1em;
	}

	h4 {
		margin: 0 0;
	}

	dd {
		border-left: 1px solid #dfdfdf;
		margin: 0 0 0 100px;
		padding: 0 0 0 9px;
	}

	dt {
		position: relative;
		right: 10px;
		top: 25px;
		font-size: 14px;
		text-transform: none;
		width: 100px;
		text-align: right;
	}

	ul {
		margin-top: 0;
	}
}